aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.11.0
api-display-purposes==0.0.3
argcomplete==3.6.2
attrs==25.3.0
Beaker==1.12.1
beautifulsoup4==4.13.5
blivet==3.12.1
blivet-gui==2.6.0
boto3==1.40.8
botocore==1.40.8
Brlapi==0.8.6
certifi==2025.8.3
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.3
clarifai==11.6.4
clarifai-grpc==11.6.1
clarifai-protocol==0.0.25
click==8.3.0
cockpit @ file:///builddir/build/BUILD/cockpit-344-build/cockpit-344/tmp/wheel/cockpit-344-py3-none-any.whl#sha256=6c0da7c2cbfb1207f38f238b3011ff193c786540a0404088b52184bb35356ba0
configparser==3.8.1
contextlib2==21.6.0
crypt_r==3.13.1
cryptography==44.0.0
cupshelpers==1.0
dasbus==1.7
dbus-python==1.3.2
dbus_next==0.2.3
decorator==4.4.2
distro==1.9.0
dnf==4.23.0
dotenv==0.9.9
EasyProcess==1.1
emoji==2.15.0
fedora-third-party==0.10
file-magic==0.4.0
fros==1.1
frozenlist==1.7.0
fsspec==2025.9.0
future==1.0.0
googleapis-common-protos==1.70.0
grpcio==1.75.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
humanize==4.12.0
idna==2.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
instagrapi @ git+https://github.com/adw0rd/instagrapi.git@d95f448cb0e045689b3b98e2cd9dc4f90569de8e
instapy==0.6.16
iso639==0.1.4
jmespath==1.0.1
jsonschema==2.6.0
jsonschema-specifications==2024.10.1
langtable==0.0.69
libcomps==0.1.21
libdnf==0.74.0
louis==3.33.0
lxml==5.3.2
Mako==1.2.3
MarkupSafe==3.0.2
MeaningCloud-python==2.0.0
moviepy==1.0.3
multidict==6.6.4
nftables==0.1
numpy==2.3.3
olefile==0.47
outcome==1.3.0.post0
packaging==24.2
Paste==3.10.1
perf==0.1
pexpect==4.9.0
pid==2.2.3
pillow==11.3.0
ply==3.11
plyer==2.1.0
productmd==1.45
proglog==0.1.12
progressbar2==4.5.0
propcache==0.3.2
protobuf==3.20.3
psutil==7.0.0
ptyprocess==0.7.0
pwquality==1.4.5
pycairo==1.25.1
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.23.0
pycups==2.0.4
pydantic==2.11.9
pydantic_core==2.33.2
pyenchant==3.2.2
PyGObject==3.50.0
pyinotify==0.9.6
pykickstart==3.62
pyOpenSSL==25.0.0
pyparted==3.13.0
PySocks==1.7.1
python-augeas==1.2.0
python-dateutil==2.8.2
python-dotenv==1.1.1
python-linux-procfs==0.7.3
python-meh==0.52
python-pam==2.0.2
python-telegram-bot==22.4
python-utils==3.9.0
pyudev==0.24.3
PyVirtualDisplay==3.0
pyxdg==0.27
PyYAML==6.0.2
pyynl @ file:///builddir/build/BUILD/kernel-6.15.9-build/kernel-6.15.9/linux-6.15.9-201.fc42.x86_64/tools/net/ynl
RapidFuzz==3.11.0
referencing==0.36.2
regex==2025.9.18
requests==2.32.5
requests-file==2.0.0
requests-ftp==0.3.1
rpds-py==0.25.0
rpm==4.20.1
rpmautospec==0.8.1
rpmautospec-core==0.1.5
s3transfer==0.13.1
schema==0.7.5
selenium==4.35.0
selinux @ file:///builddir/build/BUILD/libselinux-3.8-build/libselinux-3.8/src
semantic-version==2.10.0
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.8-build/selinux-3.8/python/sepolicy
setools==4.5.1
setuptools==80.9.0
setuptools-rust==1.12.0
simpleaudio==1.0.4
simpleline==1.9.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
sos==4.9.1
soupsieve==2.8
systemd-python==235
tabulate==0.9.0
tqdm==4.67.1
trio==0.30.0
trio-websocket==0.12.2
typing-inspection==0.4.1
typing_extensions==4.14.1
urllib3==2.5.0
uv==0.7.12
webdriverdownloader==1.1.0.4
websocket-client==1.8.0
wsproto==1.2.0
xkbregistry==0.3
yarl==1.20.1
